target
*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
.idea/compiler.xml
.idea/copyright/
.idea/encodings.xml
.idea/libraries/
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
.idea/workspace.xml
/.idea/uiDesigner.xml
.idea/
logs/
/helpdesk.iml
proxy-desk/proxy-desk.iml
web-desk/bot.user3.p12
web-desk/bot.user50.p12
web-desk/helpbot.log
web-desk/helpbot.properties
web-desk/src/
web-desk/web-desk.iml
/proxy-desk/helpdesk-bot.iml
/helpdesk-bots.iml
